<p>
  <mat-toolbar>
    <mat-form-field>
      <mat-label>Filter with Brands</mat-label>
      <mat-select>
        <mat-option *ngFor="let food of foods" [value]="food.value">
          {{food.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Filter with Categories</mat-label>
      <mat-select>
        <mat-option *ngFor="let food of foods" [value]="food.value">
          {{food.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Filter with Price Range</mat-label>
      <mat-select>
        <mat-option *ngFor="let food of foods" [value]="food.value">
          {{food.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Filter with Available Discounts</mat-label>
      <mat-select>
        <mat-option *ngFor="let food of foods" [value]="food.value">
          {{food.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Filter with Rates</mat-label>
      <mat-select>
        <mat-option *ngFor="let food of foods" [value]="food.value">
          {{food.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Filter with Colors</mat-label>
      <mat-select>
        <mat-option *ngFor="let food of foods" [value]="food.value">
          {{food.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-toolbar>
</p>

<div id="carouselExampleAutoplaying" class="carousel slide " data-bs-ride="carousel">
  <div class="carousel-inner ">
    <div class="carousel-item active">
      <img src="../../../assets/slider-image-1.jpg" class="d-block w-100 " alt="..." loading="lazy">
    </div>
    <div class="carousel-item">
      <img src="../../../assets/slider-image-2.jpg" class="d-block w-100 " alt="..." loading="lazy">
    </div>
    <div class="carousel-item">
      <img src="../../../assets/slider-image-3.jpg" class="d-block w-100 " alt="..." loading="lazy">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<br>
<div class=" row m-1">
    <div class="col-sm-6 col-md-3 "(click)="goToProductDetails()">
      <mat-card class="example-card " >
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <table>
            <tr>
              <th>Name:</th>
              <td>Computer</td>
            </tr>
            <tr>
              <th>Cateogory:</th>
              <td>Computer&& Laptops</td>
            </tr>
            <tr>
              <th>Brand:</th>
              <td>Samsung</td>
            </tr>
            <tr>
              <th>Price:</th>
              <td>5000 Egp</td>
            </tr>
            <tr>
              <th>Rate:</th>
              <td>Computer</td>
            </tr>
          </table>
        </mat-card-content>
        <mat-card-actions id="card-btns">
          <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
            <mat-icon>favorite</mat-icon>
          </button>
          <button mat-raised-button id="more-btn">More..</button>
        </mat-card-actions>
      </mat-card>

    </div>
    <div class="col-sm-6 col-md-3">
      <mat-card class="example-card " >
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <table>
            <tr>
              <th>Name:</th>
              <td>Computer</td>
            </tr>
            <tr>
              <th>Cateogory:</th>
              <td>Computer&& Laptops</td>
            </tr>
            <tr>
              <th>Brand:</th>
              <td>Samsung</td>
            </tr>
            <tr>
              <th>Price:</th>
              <td>5000 Egp</td>
            </tr>
            <tr>
              <th>Rate:</th>
              <td>Computer</td>
            </tr>
          </table>
        </mat-card-content>
        <mat-card-actions id="card-btns">
          <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
            <mat-icon>favorite</mat-icon>
          </button>
          <button mat-raised-button id="more-btn">More..</button>
        </mat-card-actions>
      </mat-card>

    </div>
    <div class="col-md-3 d-sm-none d-md-block">
      <mat-card class="example-card " >
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <table>
            <tr>
              <th>Name:</th>
              <td>Computer</td>
            </tr>
            <tr>
              <th>Cateogory:</th>
              <td>Computer&& Laptops</td>
            </tr>
            <tr>
              <th>Brand:</th>
              <td>Samsung</td>
            </tr>
            <tr>
              <th>Price:</th>
              <td>5000 Egp</td>
            </tr>
            <tr>
              <th>Rate:</th>
              <td>Computer</td>
            </tr>
          </table>
        </mat-card-content>
        <mat-card-actions id="card-btns">
          <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
            <mat-icon>favorite</mat-icon>
          </button>
          <button mat-raised-button id="more-btn">More..</button>
        </mat-card-actions>
      </mat-card>

    </div>
    <div class="col-md-3 d-sm-none d-md-block">
      <mat-card class="example-card " >
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <table>
            <tr>
              <th>Name:</th>
              <td>Computer</td>
            </tr>
            <tr>
              <th>Cateogory:</th>
              <td>Computer&& Laptops</td>
            </tr>
            <tr>
              <th>Brand:</th>
              <td>Samsung</td>
            </tr>
            <tr>
              <th>Price:</th>
              <td>5000 Egp</td>
            </tr>
            <tr>
              <th>Rate:</th>
              <td>Computer</td>
            </tr>
          </table>
        </mat-card-content>
        <mat-card-actions id="card-btns">
          <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
            <mat-icon>favorite</mat-icon>
          </button>
          <button mat-raised-button id="more-btn">More..</button>
        </mat-card-actions>
      </mat-card>

    </div>
</div>
<div class=" row m-1">
    <div class="col-sm-6 col-md-3 ">
      <mat-card class="example-card " >
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <table>
            <tr>
              <th>Name:</th>
              <td>Computer</td>
            </tr>
            <tr>
              <th>Cateogory:</th>
              <td>Computer&& Laptops</td>
            </tr>
            <tr>
              <th>Brand:</th>
              <td>Samsung</td>
            </tr>
            <tr>
              <th>Price:</th>
              <td>5000 Egp</td>
            </tr>
            <tr>
              <th>Rate:</th>
              <td>Computer</td>
            </tr>
          </table>
        </mat-card-content>
        <mat-card-actions id="card-btns">
          <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
            <mat-icon>favorite</mat-icon>
          </button>
          <button mat-raised-button id="more-btn">More..</button>
        </mat-card-actions>
      </mat-card>

    </div>
    <div class="col-sm-6 col-md-3">
      <mat-card class="example-card " >
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <table>
            <tr>
              <th>Name:</th>
              <td>Computer</td>
            </tr>
            <tr>
              <th>Cateogory:</th>
              <td>Computer&& Laptops</td>
            </tr>
            <tr>
              <th>Brand:</th>
              <td>Samsung</td>
            </tr>
            <tr>
              <th>Price:</th>
              <td>5000 Egp</td>
            </tr>
            <tr>
              <th>Rate:</th>
              <td>Computer</td>
            </tr>
          </table>
        </mat-card-content>
        <mat-card-actions id="card-btns">
          <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
            <mat-icon>favorite</mat-icon>
          </button>
          <button mat-raised-button id="more-btn">More..</button>
        </mat-card-actions>
      </mat-card>

    </div>
    <div class="col-md-3 d-sm-none d-md-block">
      <mat-card class="example-card " >
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <table>
            <tr>
              <th>Name:</th>
              <td>Computer</td>
            </tr>
            <tr>
              <th>Cateogory:</th>
              <td>Computer&& Laptops</td>
            </tr>
            <tr>
              <th>Brand:</th>
              <td>Samsung</td>
            </tr>
            <tr>
              <th>Price:</th>
              <td>5000 Egp</td>
            </tr>
            <tr>
              <th>Rate:</th>
              <td>Computer</td>
            </tr>
          </table>
        </mat-card-content>
        <mat-card-actions id="card-btns">
          <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
            <mat-icon>favorite</mat-icon>
          </button>
          <button mat-raised-button id="more-btn">More..</button>
        </mat-card-actions>
      </mat-card>

    </div>
    <div class="col-md-3 d-sm-none d-md-block">
      <mat-card class="example-card " >
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <table>
            <tr>
              <th>Name:</th>
              <td>Computer</td>
            </tr>
            <tr>
              <th>Cateogory:</th>
              <td>Computer&& Laptops</td>
            </tr>
            <tr>
              <th>Brand:</th>
              <td>Samsung</td>
            </tr>
            <tr>
              <th>Price:</th>
              <td>5000 Egp</td>
            </tr>
            <tr>
              <th>Rate:</th>
              <td>Computer</td>
            </tr>
          </table>
        </mat-card-content>
        <mat-card-actions id="card-btns">
          <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
            <mat-icon>favorite</mat-icon>
          </button>
          <button mat-raised-button id="more-btn">More..</button>
        </mat-card-actions>
      </mat-card>

    </div>
</div>
<div class=" row m-1">
    <div class="col-sm-6 col-md-3 ">
      <mat-card class="example-card " >
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <table>
            <tr>
              <th>Name:</th>
              <td>Computer</td>
            </tr>
            <tr>
              <th>Cateogory:</th>
              <td>Computer&& Laptops</td>
            </tr>
            <tr>
              <th>Brand:</th>
              <td>Samsung</td>
            </tr>
            <tr>
              <th>Price:</th>
              <td>5000 Egp</td>
            </tr>
            <tr>
              <th>Rate:</th>
              <td>Computer</td>
            </tr>
          </table>
        </mat-card-content>
        <mat-card-actions id="card-btns">
          <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
            <mat-icon>favorite</mat-icon>
          </button>
          <button mat-raised-button id="more-btn">More..</button>
        </mat-card-actions>
      </mat-card>

    </div>
    <div class="col-sm-6 col-md-3">
      <mat-card class="example-card " >
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <table>
            <tr>
              <th>Name:</th>
              <td>Computer</td>
            </tr>
            <tr>
              <th>Cateogory:</th>
              <td>Computer&& Laptops</td>
            </tr>
            <tr>
              <th>Brand:</th>
              <td>Samsung</td>
            </tr>
            <tr>
              <th>Price:</th>
              <td>5000 Egp</td>
            </tr>
            <tr>
              <th>Rate:</th>
              <td>Computer</td>
            </tr>
          </table>
        </mat-card-content>
        <mat-card-actions id="card-btns">
          <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
            <mat-icon>favorite</mat-icon>
          </button>
          <button mat-raised-button id="more-btn">More..</button>
        </mat-card-actions>
      </mat-card>

    </div>
    <div class="col-md-3 d-sm-none d-md-block">
      <mat-card class="example-card " >
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <table>
            <tr>
              <th>Name:</th>
              <td>Computer</td>
            </tr>
            <tr>
              <th>Cateogory:</th>
              <td>Computer&& Laptops</td>
            </tr>
            <tr>
              <th>Brand:</th>
              <td>Samsung</td>
            </tr>
            <tr>
              <th>Price:</th>
              <td>5000 Egp</td>
            </tr>
            <tr>
              <th>Rate:</th>
              <td>Computer</td>
            </tr>
          </table>
        </mat-card-content>
        <mat-card-actions id="card-btns">
          <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
            <mat-icon>favorite</mat-icon>
          </button>
          <button mat-raised-button id="more-btn">More..</button>
        </mat-card-actions>
      </mat-card>

    </div>
    <div class="col-md-3 d-sm-none d-md-block">
      <mat-card class="example-card " >
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <table>
            <tr>
              <th>Name:</th>
              <td>Computer</td>
            </tr>
            <tr>
              <th>Cateogory:</th>
              <td>Computer&& Laptops</td>
            </tr>
            <tr>
              <th>Brand:</th>
              <td>Samsung</td>
            </tr>
            <tr>
              <th>Price:</th>
              <td>5000 Egp</td>
            </tr>
            <tr>
              <th>Rate:</th>
              <td>Computer</td>
            </tr>
          </table>
        </mat-card-content>
        <mat-card-actions id="card-btns">
          <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
            <mat-icon>favorite</mat-icon>
          </button>
          <button mat-raised-button id="more-btn">More..</button>
        </mat-card-actions>
      </mat-card>

    </div>
</div>

