<div id="otp-body">
  <form  id="otp-form">
    <h2 id="logo">Buy it</h2>
    <h2 >OTP Code is sent to your email </h2>
    <mat-form-field id="email-input">
      <mat-label>Enter Your OTP Code</mat-label>
      <input type="text" matInput>
      <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
    </mat-form-field>
    <div id="btns">
      <button mat-raised-button color="warn" >Resend Code</button>
      <button mat-raised-button color="warn" >Verify Email</button>

    </div>
  </form>
</div>
